BACKEND_IMAGE=ghcr.io/bady470/portal-guajiranet-backend:v0.1.0-rc.4
FRONTEND_IMAGE=ghcr.io/bady470/portal-guajiranet-frontend:v0.1.0-rc.4
SPRING_PROFILES_ACTIVE=prod
BACKEND_PORT=8080
FRONTEND_PORT=80
